{% extends 'base.html' %}


{% block header %}

  <h2>{% block title %}About{% endblock title %}</h2>

{% endblock header %}


{% block content %}
  
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<style type="text/css">
		@page { size: 21cm 29.7cm; margin: 2.54cm }
		p { line-height: 115%; text-align: left; orphans: 2; widows: 2; margin-bottom: 0.25cm; direction: ltr; background: transparent }
		a:link { color: #0563c1; text-decoration: underline }
		a:visited { color: #800000; text-decoration: underline }
	</style>
</head>
<body lang="en-GB" link="#0563c1" vlink="#800000" dir="ltr"><p style="line-height: 100%; margin-bottom: 0cm">
<img src="/static/assets/images/UCLbanner.png" name="banner" align="bottom" width="903" height="173" border="0"/>
</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-right: 9cm; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Information
sheet</b></font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">UCL
Research Ethics Committee Approval ID Number: </font></font></font><font color="#242424"><font face="Arial, serif"><font size="2" style="font-size: 10pt">24249/00</font></font></font><font color="#242424"><font face="Arial, serif"><font size="2" style="font-size: 10pt">5</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Title
of Study: </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>A
serious game to study the effect of limited field of view in keyhole
surgery.</b></font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Department:
</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">UCL
Medical Physics and Biomedical Engineering</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Researcher(s):</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Connor
Creasey</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
(</font></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">rmap</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">hcr</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">@ucl.ac.uk</font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">)</font></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">,
</font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Stephen
Thompson (</font></font></font><a href="mailto:s.thompson@ucl.ac.uk" target="_blank"><font color="#0563c1"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><u>s.thompson@ucl.ac.uk</u></font></font></font></a><font face="Arial, serif"><font size="2" style="font-size: 10pt">)</font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Principal
Researcher:</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
Matthew J. Clarkson (</font></font></font><a href="mailto:m.clarkson@ucl.ac.uk" target="_blank"><font color="#0563c1"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><u>m.clarkson@ucl.ac.uk</u></font></font></font></a><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">)</font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol>
	<li><p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Invitation
	Paragraph</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">You
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">are
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">invited
to take part in </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">a
</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">research
project. Before </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">making
a decision</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">,
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">you
should </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">understand
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">the
purpose of this study</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
and what participation will involve. Please </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">ensure
you</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
read the following information carefully, and discuss it with others
if you wish. Please contact us if </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">anything
is unclear</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">.
</font></font></font></font>
</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="2">
	<li><p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>What
	is the project’s purpose?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">This
research project aims to design and deploy a serious web-based game
to study the effect</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">s</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
of limited field of view in endoscopic (keyhole) surgery</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">.
Surgeons use endoscopes to relay real-time images to a monitor,
help</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">ing</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">
them </span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">navigate</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">
around the body, however the </span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">field
of view is limited</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">.
There is currently little quantitative meaningful data </span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">on
the topic, </span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">which
we aim to address</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">
through a novel and engaging game.</span></font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU">3.	</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span lang="en-AU"><b>Will
the game depict anything I may find disturbing?</b></span></font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">The
game depicts invasive surgery, and may contain images of blood and
cutting instruments. If you find this content upsetting, you may
refuse participation in the study.</font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="3">
	<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">4</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>.	</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Why
	have I been chosen?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">You
have been invited to participate because you are:</font></font></font></font></p>
<ul>
	<li><p style="line-height: 100%; margin-bottom: 0cm"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Are
	able to communicate effectively in English</font></font></p>
	<li><p style="line-height: 100%; margin-bottom: 0cm"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Able
	to give consent</font></font></p>
	<li><p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Aged
	18 or ove</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">r</font></font></font></p>
	<li><p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font face="Arial, serif"><font size="2" style="font-size: 10pt">C</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">apable
	of using a computer</font></font></font></p>
</ul>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">We
a</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">im</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
to recruit </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">up
to 100 participants for </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">this
study.</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="4">
	<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">5.</span></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>	</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Do
	I have to take part?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Participation
is </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">entirely
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">voluntary.
If you </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">choose</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
to take part, you will receive a copy of this information sheet and
be asked to </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">tick
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">a
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">digital
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">consent
form</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">.
You may withdraw at any time without giving a reason. If you decide
to withdraw, you will be asked what you wish to happen to the data
you have provided up that point. All data will be anonymous, and
therefore it will not be possible to remove your data if you do
decide to withdraw at a later date.</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-left: 0.64cm; margin-bottom: 0cm">
<br/>

</p>
<ol start="5">
	<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>6.	</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>What
	will happen to me if I take part?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">You
will be invited to play </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">a</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
web-based game. </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">B</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">efore
th</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">e
game begins,</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
you will be </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">asked</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
to answer </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">some</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">questions
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">which
will provide us with helpful information</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">.
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">These
questions require no prior knowledge.</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
The game consists of various levels </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">for
you to complete, </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">and
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">should</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
take no longer than </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">10</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
minutes. You will </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">then
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">be
asked to fill out a system usability scale (SUS) to measure the
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">game’s
usability</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">,
and a NASA task load index (NASA TLX), </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">to
measure</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
your mental workload (MWL) from the tasks. Following these
questionnaires, you will be asked to complete a</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">nother</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
short questionnaire to provide feedback about your experience. </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">These
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">post-game
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">questionnaires
are all optional. </font></font></font></font>
</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="6">
	<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>7.	</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Will
	I be recorded, and how will the recorded media be used?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">You
will not be recorded.</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="7">
	<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>8.	</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>What
	are the possible disadvantages and risks of taking part?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">There
are no risks or possible disadvantages. In the unlikely event that
participating causes any distress, you are free to withdraw and
discuss your concerns with the researcher and Principal Investigator.
</font></font></font></font>
</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="8">
	<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>9.	</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>What
	if something goes wrong?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">If
you have any concerns with the conduct of this study, please raise
them in the first instance with </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">the</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
Princip</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">al</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
Researcher. If your concerns are not addressed to your satisfaction,
then contact the Chair of the UCL Research Ethics Committee –
</font></font></font><font color="#0563c1"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><u><a href="mailto:ethics@ucl.ac.uk" target="_blank">ethics@ucl.ac.uk</a>.</u></font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="9">
	<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>10.	</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Will
	my taking part in this project be kept confidential?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">All
data collected during this course of this research will be kept
confidential, subject to legal constraints and professional
guidelines. You will not be identifiable in any ensuing reports or
publications.</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="10">
	<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>11.	</b></font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>What
	will happen to the results of the research project?</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Depending
on the findings, we may publish the results in a journal or
conference paper. To enable open science and reproducibility, we may
share data derived from your trial on public data servers. All data
derived from your trial (</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">performance
data</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">,
NASA TLX scores, </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">s</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">ystem
usability scores) will be anonymised from the point of collection.</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<ol start="11">
	<li><p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Local
	Data Protection Privacy Notice</b></font></font></font></font></p>
</ol>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">The
controller for this project will be University College London (UCL).
The UCL Data Protection Officer provides oversight of UCL activities
involving the processing of personal data, and can be contacted by
email:</font></font></font><font color="#0563c1"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><u><a href="mailto:data-protection@ucl.ac.uk" target="_blank">data-protection@ucl.ac.uk</a>.</u></font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">No
identifying personal information will be retained. </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">The
</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">gathered</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">
data will be anonym</font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">ous.</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Further
information on how UCL uses participant information can be found at
</font></font></font><a href="https://www.ucl.ac.uk/legal-services/privacy/ucl-general-research-participant-privacy-notice" target="_blank"><font color="#0563c1"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><u>https://www.ucl.ac.uk/legal-services/privacy/ucl-general-research-participant-privacy-notice</u></font></font></font></a></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">The
lawful basis that would be used to process your personal data will be
performance of a task in the public interest.</font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-left: -0.16cm; margin-bottom: 0cm">
<font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>12.
Contact for further information</b></font></font></font></font></p>
<p style="line-height: 100%; margin-left: -0.16cm; margin-bottom: 0cm">
<br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">My
contact details are at the top of the page. Please contact us with any questions or queries.</font></p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font face="Times New Roman, serif"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Thank
you for reading this information sheet and for considering taking
part in this study.</b></font></font></font></font></p>
</body>
</html>

{% endblock content %}
