{% extends 'base.html' %}

{% block header %}

  <h2>{% block title %}Instructions{% endblock title %}</h2>

{% endblock header %}


{% block content %}

  <p>

   <u>Controls</u><br/>
   
	Use the mouse to move your camera. <br/>
	Use the arrow keys (or the W,A,S and D keys) to move your cutting instrument. <br/>
	Cut by holding and releasing the left mouse button!<br/>
	You can press 'P' to pause at any time. <br/><br/>
   
   <u>How to play</u><br/>
   
	Cut the vessel which has two <b> black </b> ends. <br/>
	Don't be fooled by the others! You'll get a time penalty! <br/>
	The size of the camera will vary in each level. <br/>
	Try to solve each level as fast as you can, with the least instrument movement. <br/>
	
  </p>

{% endblock content %}

